flake8>=7.3.0
ipykernel>=7.1.0
ipython>=9.9.0
matplotlib>=3.10.8
mypy>=1.19.1
mypy_extensions>=1.1.0
nb_mypy>=1.0.6
nbdime>=4.0.2
numpy>=2.4.1
pandas>=2.3.3
primefac>=2.0.12
pycodestyle>=2.14.0
pycodestyle_magic>=0.5
requests>=2.32.5
